
<div  class="lch-profile" >
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand"><b>Profile</b></a>
                <a ng-click="model.updateUser(model.user)" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-ok btn"></span>
                </a>
            </div>
        </div>
    </nav>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <a href="#!/user/{{model.userId}}" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class = "container-fluid">
        <label for="firstname">Firstname</label>
        <input name = "firstname"
               ng-model="model.user.firstName"
               type="text"
               class = "form-control"
               id="firstname"/>

        <label for="lastname">Lastname</label>
        <input name = "lastname"
               ng-model="model.user.lastName"
               placeholder="Terry"
               type="text"
               class = "form-control"
               id="lastname"/>

        <label for="username">Username</label>
        <input name = "username"
               ng-model="model.user.username"
               value = "Kevin"
               type="text"
               readonly
               class = "form-control"
               id="username"/>

        <label for="email">Email</label>
        <input name = "email"
               placeholder="kevin@gmail.com"
               type = "email"
               class = "form-control"
               id="email"/>

        <label for="dob">Date of Birth</label>
        <input name = "dob"
               type = "date"
               class = "form-control"
               id="dob"/>

        <a class="btn btn-default btn-primary btn-block"
           href="#!/user/{{model.userId}}/website"
           role="button">Websites</a>

        <a class="btn btn-default btn-success btn-block"
           ng-click= "model.updateUser(model.user)"
           role="button">Update</a>


        <a class="btn btn-default btn-danger black btn-block"
           href="#!/login"
           role="button">Logout</a>

        <a class="btn btn-default btn-danger btn-block"
           ng-click= "model.deleteUser()"
           role="button">Unregister</a>


    </div>
</div>


