input {
    margin-bottom: 5px;
}

body{
    /*padding-top: 60px;*/
    margin-top: 10%;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10%;
}

.lch-list{
    padding-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    color: rgb(46, 125, 205);
}

.lch-page.navbar-default{

    background-color: rgba(5, 9, 23, 0.71);
}

.navbar-default {
    background-color: #228dc2;
    border-color: #e7e7e7;
}
.navbar-header{
    width: 100%;
    padding-left: 80px;
    padding-right: 60px;
}

.navbar-footer{
    width: 100%;
    padding-left: 80px;
    padding-right: 60px;
}


.lch-list.glyphicon-cog{
    color: rgb(46, 125, 205);
    padding-top: 0px;

}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.btn{
    margin-bottom: 12px;
    margin-top: 12px;
}

.navbar-default .navbar-brand{
    color: white;
}

.glyphicon{
    color: white;
    font-size: 14px;

}

.lch-split-view-right{
    color: black;
}

label[for = description]{
    margin-top: 20px;
}

.list-group-item{
    border-style: hidden;
    margin-bottom: 10px;
}
.row{
    margin-top: 10px;
}
.col-lg-9{
    padding-left: 40px;
    padding-right: 40px;
}
.container-fluid .lch-widget .widget-video{
    padding-bottom: 30px;
}

.container-fluid .lch-widget .widget-html{
    padding-top: 10px;
}
/*.container-fluid .lch-widget .widget-video .widget-tools{*/
    /*background-color: black;*/
    /*position: absolute;*/
    /*right: 95px;*/
    /*border-bottom-left-radius: 10px;*/
    /*color: white;*/
/*}*/

.container-fluid .lch-widget .widget-tools{
    background-color: black;
    position: absolute;
    right: 95px;
    border-bottom-left-radius: 10px;
    color: blue;
}

.container-fluid .lch-widget .widget-image .image{
    padding-bottom: 10%;
}

/*.container-fluid .lch-widget .widget-heading .widget-tools{*/
    /*background-color: white;*/
    /*position: absolute;*/
    /*right: 95px;*/
    /*border-bottom-left-radius: 10px;*/
/*}*/

.container-fluid .lch-widget .widget-heading .widget-tools .glyphicon{
    color: black;
 }

.container-fluid .lch-widget .widget-heading .blue .widget-tools .glyphicon{
    color: deepskyblue;
}



.container-fluid .lch-widget .widget-paragraph .glyphicon{
    color: rgb(93, 162, 131);
    padding-right: 3px;
    font-size: 14px;
}
.blue{
    color: deepskyblue;
}

.lch-widget .navbar-default{
    background-color: rgba(40, 43, 7, 0.43);
}
.btn-default.black{
    background-color: black;
    color: white;
}
.lch-profile.navbar-header{
    margin-left: 75px;
}