
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-brand pull-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand"><b>Create Widget</b></a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a href = "#!/user/{{model.userId}}" class="navbar-brand pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="lch-widget">
        <ul class="chooser-list">
            <li class="list-group-item">
                <div class="row">
                    <a ng-click="model.createWidget('HEADING')">Header</a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <a href="#">Label</a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <a ng-click="model.createWidget('HTML')">HTML</a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <a ng-click="model.createWidget('TEXT')">Text Input</a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <a >Link</a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <a>Button</a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <a ng-click="model.createWidget('IMAGE')">Image</a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <a ng-click="model.createWidget('YOUTUBE')">YouTube</a>
                </div>
            </li>


            <li class="list-group-item">
                <div class="row">
                    <a>Data Table</a>
                </div>
            </li>


            <li class="list-group-item">
                <div class="row">
                    <a>Repeater</a>
                </div>
            </li>
        </ul>
    </div>

</div>


