
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-brand pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand" href="widget-list.view.client.html"><b>Widget</b></a>
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <a href = "../../user/templates/profile.view.client.html" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div ng-repeat="widget in model.widgets" class="lch-widget">
            <span class="widget-tools">
                <a href = "#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <a><span class="glyphicon glyphicon-align-justify"></span></a>
            </span>
            <div ng-switch="widget.widgetType" >
                <div ng-switch-when="HEADING">
                    <ng-include src="'views/widget/templates/widget-heading.view.client.html'">
                </div>
                <div ng-switch-when="IMAGE">
                    <ng-include src="'views/widget/templates/widget-image.view.client.html'">
                </div>
                <div ng-switch-when="YOUTUBE">
                    <ng-include src="'views/widget/templates/widget-youtube.view.client.html'">
                </div>
                <div ng-switch-when="HTML">
                    <ng-include src="'views/widget/templates/widget-html.view.client.html'">
                </div>
            </div>

        <!--<div ng-repeat="widget in model.widgets" class="lch-widget">-->
            <!--<div class="widget-heading">-->
                <!--<h1> Dragon Ball Super-->
            <!--<span class="widget-tools">-->
                <!--<a hrwidget-heading-edit.view.client.htmlhtml">-->
                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</a>-->
                <!--<span class="glyphicon glyphicon-align-justify"></span>-->
            <!--</span>-->
                <!--</h1>-->
            <!--</div>-->

                <!--</h1>-->
            <!--</div>-->
        </div>

        <!--<div class="lch-widget">-->
            <!--<div class="widget-paragraph">-->
                <!--<p>Four years after the defeat of Majin Boo, peace has returned to Earth.-->
                    <!--<a href="https://en.wikipedia.org/wiki/Goku">Son Goku-->
                        <!--<span class="widget-tools">-->
                            <!--<a href="widget-list.view.client.html">-->
                                <!--<span class="glyphicon glyphicon-cog"></span>-->
                            <!--</a>-->
                            <!--<span class="glyphicon glyphicon-align-justify"></span>-->
                        <!--</span>-->
                    <!--</a>-->
                <!--has settled down and now works as a radish farmer to support his family.-->
                    <!--His family and friends live peaceful lives. However, a new threat appears in the form of Beerus,-->
                    <!--the God of Destruction, who is considered to be the most terrifying being in Universe 7.-->
                    <!--This part of the series retells the events of-->
                    <!--<a href="https://en.wikipedia.org/wiki/Dragon_Ball_Z:_Battle_of_Gods">Dragon Ball Z: Battle of Gods-->
                        <!--<span class="widget-tools">-->
                            <!--<a href="widget-list.view.client.html">-->
                                <!--<span class="glyphicon glyphicon-cog"></span>-->
                            <!--</a>-->
                            <!--<span class="glyphicon glyphicon-align-justify"></span>-->
                        <!--</span>-->
                    <!--</a> .-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="lch-widget">-->
            <!--<div class="widget-video">-->
                <!--<div class="widget-tools">-->
                    <!--<a hrwidget-youtube-edit.view.client.htmlhtml">-->
                        <!--<span class="glyphicon glyphicon-cog"></span>-->
                    <!--</a>-->
                    <!--<span class="glyphicon glyphicon-align-justify"></span>-->
                <!--</div>-->
                <!--<iframe src="https://www.youtube.com/embed/e5shfIY4Kxk"-->
                        <!--width="100%" frameborder="0"  allowfullscreen>-->
                <!--</iframe>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="lch-widget">-->
            <!--<div class="widget-heading">-->
                <!--<h1 class="blue"> Super Saiyan Blue-->
                    <!--<span class="widget-tools">-->
                        <!--<a hrwidget-heading-edit.view.client.htmlhtml">-->
                            <!--<span class="glyphicon glyphicon-cog"></span>-->
                        <!--</a>-->
                        <!--<span class="glyphicon glyphicon-align-justify"></span>-->
                    <!--</span>-->

                <!--</h1>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="lch-widget">-->
            <!--<div class="widget-paragraph">-->
                <!--<p>-->
                    <!--<a href="http://dragonball.wikia.com/wiki/Super_Saiyan_Blue">Super Saiyan Blue-->
                    <!--<span class="widget-tools">-->
                            <!--<a href="widget-list.view.client.html">-->
                                <!--<span class="glyphicon glyphicon-cog"></span>-->
                            <!--</a>-->
                            <!--<span class="glyphicon glyphicon-align-justify"></span>-->
                        <!--</span>-->
                    <!--</a>-->
                    <!--is the Super Saiyan God Super Saiyan form - a transformation-->
                    <!--that uses the power of Super Saiyan God with the Super Saiyan form.-->
                    <!--This form can be accessed by absorbing the powers of god,-->
                    <!--activating them and then transforming into a Super Saiyan,-->
                    <!--or through vigorous ki control training as seen with Vegeta in the Super anime.-->
                    <!--This form exceedingly surpasses its predecessor, Super Saiyan God.</p>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="lch-widget">-->
            <!--<div class="widget-image">-->
                <!--<div class="widget-tools">-->
                    <!--<a hrwidget-image-edit.view.client.htmlhtml">-->
                        <!--<span class="glyphicon glyphicon-cog"></span>-->
                    <!--</a>-->
                    <!--<span class="glyphicon glyphicon-align-justify"></span>-->
                <!--</div>-->
                <!--<img class="image" src="https://vignette4.wikia.nocookie.net/dragonuniverse/images/e/e3/Super_Saiyan_God_Super_Saiyan.png/revision/latest/scale-to-width-down/1280?cb=20151025092258"-->
                        <!--width="100%" height="100%" frameborder="0">-->
            <!--</div>-->
        <!--</div>-->


    </div>


