<div class="lch-widget">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-brand pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand" href="#"><b>Edit HTML</b></a>
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <a href = "../../user/templates/profile.view.client.html" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="col-xs-12 ">

        <label for="name">Name</label>
        <input name="name"
               placeholder="Name"
               type="text"
               class="form-control"
               id="name"/>

        <label for="text">Text</label>
        <input name="text"
               ng-model="model.widget.text"
               type="text"
               value="The latest Episode of Dragon Ball Super is out!!!"
               class="form-control"
               id="text"/>

        <a ng-click="model.updateWidget()" class="btn btn-default btn-success btn-block">Update</a>
        <a href="../templates/widget-list.view.client.html" class="btn btn-default btn-danger btn-block">Delete</a>
        <a href="../templates/widget-list.view.client.html" class="btn btn-default black btn-block">Cancel</a>

    </div>
</div>

