
<div class="lch-widget">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-brand pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand"><b>Edit/Create Header</b></a>
                <a ng-click="model.updateWidget(model.headingEdit)" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-ok btn"></span>
                </a>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <a href = "#!/user/{{model.userId}}" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="col-xs-12 ">

        <label for="name">Name</label>
        <input name="name"
               placeholder="Name"
               type="text"
               class="form-control"
               id="name"/>

        <label for="text">Text</label>
        <input name="text"
               ng-model="model.headingEdit.text"
               type="text"
               value="The latest Episode of Dragon Ball Super is out!!!"
               class="form-control"
               id="text"/>

        <label for="size">Size</label>
        <input name="size"
               ng-model="model.headingEdit.size"
               value="3"
               type="text"
               class="form-control"
               id="size"/>

        <a ng-click="model.updateWidget(model.headingEdit)" class="btn btn-default btn-success btn-block">Update</a>
        <a ng-click="model.deleteWidget()" class="btn btn-default btn-danger btn-block">Delete</a>
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="btn btn-default black btn-block">Cancel</a>

    </div>


</div>

