
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-brand pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand"><b>Edit/Create HTML</b></a>
                <a ng-click="model.updateWidget(model.htmlEdit)" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-ok btn"></span>
                </a>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <a href = "#!/user/{{model.userId}}" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
    <div class="lch-widget container-fluid">
        <div class="col-xs-12 ">
            <label for="name">Name</label>
            <input name="name"
                   ng-model="model.htmlEdit.name"
                   placeholder="Name"
                   type="text"
                   class="form-control"
                   id="name"/>

            <label>HTML</label>

            <div ng-model="model.htmlEdit.text"
                 text-angular
                 ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['ul','ol'],
                ['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                ['indent','outdent'],['html']]">
            </div>


            <a ng-click="model.updateWidget(model.htmlEdit)" class="btn btn-default btn-success btn-block">Update</a>
            <a ng-click="model.deleteWidget()" class="btn btn-default btn-danger btn-block">Delete</a>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="btn btn-default black btn-block">Cancel</a>

        </div>
</div>

