

<div class="lch-widget">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-brand pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand" ><b>Edit/Create Image</b></a>
                <a ng-click="model.updateWidget(model.imageEdit)" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-ok btn"></span>
                </a>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <a href = "#!/user/{{model.userId}}" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="col-xs-12 ">

        <label for="name">Name</label>
        <input name="name"
               type="text"
               placeholder="Name"
               class="form-control"
               id="name"/>

        <label for="text">Text</label>
        <input name="text"
               ng-model="model.imageEdit.text"
               placeholder="Image Info"
               type="text"
               class="form-control"
               id="text"/>

        <label for="url">URL</label>
        <input name="url"
               ng-model="model.imageEdit.url"
               type="url"
               placeholder="https://vignette4.wikia.nocookie.net/dragonuniverse/images/e/e3/Super_Saiyan_God_Super_Saiyan.png/revision/latest/scale-to-width-down/1280?cb=20151025092258"
               class="form-control"
               id="url"/>

        <label for="width">Width</label>
        <input name="width"
               ng-model="model.imageEdit.width"
               placeholder="100%"
               class="form-control"
               id="width"/>


        <div>
            <label for = "upload">Upload</label>
            <form action="/api/upload" id = "upload" method="post" enctype="multipart/form-data">
                <input  name="myFile"    type="file" class="form-control"/>
                <input  name="width"     value="{{model.imageEdit.width}}" style="display: none"/>
                <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
                <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
                <input  name="pageId"    value="{{model.imageEdit.pageId}}"   style="display: none"/>
                <input  name="widgetId"  value="{{model.imageEdit._id}}"   style="display: none"/>
                <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
            </form>
        </div>


        <!--<a  class="btn btn-default btn-primary btn-block">Upload Image</a>-->
        <a ng-click="model.updateWidget(model.imageEdit)" class="btn btn-default btn-success btn-block">Update</a>
        <a ng-click="model.deleteWidget()" class="btn btn-default btn-danger btn-block">Delete</a>
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="btn btn-default black btn-block">Cancel</a>


    </div>


</div>

