



<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-brand pull-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand"><b>Edit/Create Video</b></a>
            <a ng-click="model.updateWidget(model.youtubeEdit)" class="navbar-brand pull-right">
                <span class="glyphicon glyphicon-ok btn"></span>
            </a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a href = "#!/user/{{model.userId}}" class="navbar-brand pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

<div class="lch-widget container-fluid">
    <div class="col-xs-12 ">

        <label for="name">Name</label>
        <input name="name"
               placeholder="Name"
               type="text"
               class="form-control"
               id="name"/>

        <label for="text">Text</label>
        <input name="text"
               placeholder="Video Info"
               type="text"
               class="form-control"
               id="text"/>

        <label for="url">URL</label>
        <input name="url"
               ng-model="model.youtubeEdit.url"
               type="url"
               placeholder="https://www.youtube.com/embed/e5shfIY4Kxk"
               class="form-control"
               id="url"/>

        <label for="width">Width</label>
        <select ng-model="model.youtubeEdit.width"
                type="text"
                class="form-control"
                id="width">
            <option value="100%">100%</option>
            <option value="75%">75%</option>
            <option value="50%">50%</option>
            <option value="25%">25%</option>
        </select>

        <label for="upload">Upload</label>
        <input name="upload" multiple
               type = "file"
               class="form-control"
               id="upload"/>

        <a  class="btn btn-default btn-primary btn-block">Upload Video</a>
        <a ng-click="model.updateWidget(model.youtubeEdit)" class="btn btn-default btn-success btn-block">Update</a>
        <a ng-click="model.deleteWidget()" class="btn btn-default btn-danger btn-block">Delete</a>
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="btn btn-default black btn-block">Cancel</a>

    </div>


</div>

