

<div class="lch lch-page">

    <nav class="lch-page navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-brand pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand"><b>New Page</b></a>
                <a ng-click="model.createPage(model.page)" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-ok btn"></span>
                </a>
            </div>
        </div>
    </nav>

    <nav class="lch-page navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <a href = "#!/user/{{model.userId}}" class="navbar-brand pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>


    <ul class="list-group lch-list">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 visible-lg lch-split-view-left">
                    <ul class="list-group">
                        <li ng-repeat="page in model.pages" class="list-group-item">
                            <div class = "row">
                                <div class="col-lg-6 col-md-6 col-xs-6">
                                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                                        <div class = "col-xs-12">{{page.name}}</div>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6">
                                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                                        <span class = "lch-list pull-right glyphicon glyphicon-cog "> </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-lg-9 lch-split-view-right">

                    <label for="name">Name</label>
                    <input name="name"
                           ng-model="model.page.name"
                           placeholder="Page Name"
                           type="text"
                           class="form-control"
                           id="name"/>

                    <label for="title">Title</label>
                    <input name="title"
                           placeholder="Page Title"
                           type="text"
                           class="form-control"
                           id="title"/>

                    <label for="description">Description</label>
                    <textarea name="description"
                              ng-model = "model.page.description"
                              rows="5"
                              placeholder="Description"
                              class="form-control"
                              id="description"></textarea>

                    <a ng-click="model.createPage(model.page)" class="btn btn-default btn-success btn-block">Create</a>
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="btn btn-default black btn-block">Cancel</a>

                </div>
            </div>
        </div>
    </ul>

</div>

